@import '../Hepler/variable';

.started {
    height: 340px;
    background: #29303b;
    border-top: 5px solid #922a52;
    color: rgba($color: $color-white-0, $alpha: 0.5);
    text-align: center;

}
